// ** OMG IM ABOUT TO CRY IT'S SO BEAUTIFUL ** //
doctype html
html
  head
    title Google Maps!

    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')

    meta(charset='utf-8')

    style.
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }
      #map {
      height: 100%;
      }

  body
    #map

    script.
      function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 49.283, lng: -123.121},
      zoom: 14
      });
      // ****Getting GPS coords **** //
      if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
      };
      map.setCenter(pos);
      var goldStar = {
      path: 'M 0,-24 6,-7 24,-7 10,4 15,21 0,11 -15,21 -10,4 -24,-7 -6,-7 z',
      fillColor: 'yellow',
      fillOpacity: 0.8,
      scale: 1,
      strokeColor: 'gold',
      strokeWeight: 4
      };
      var marker = new google.maps.Marker({
      position: pos,
      map: map,
      title: 'My Location',
      icon: goldStar
      //{
      //path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
      //scale: 5,
      //strokeColor: 'LightCoral',
      //fillColor: 'LightSalmon',
      //fillOpacity: 0.75
      //}
      });
      }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
      });
      } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
      }
      var geocoder = new google.maps.Geocoder();
      var names = !{JSON.stringify(names)};
      var addresses = !{JSON.stringify(addresses)};
      var openHours = !{JSON.stringify(openHours)};
      var closedHours = !{JSON.stringify(closedHours)};
      var days = !{JSON.stringify(days)};
      var months = !{JSON.stringify(months)};
      for (var i=0; i<24; i++){
      geocodeAddress(geocoder, names[i], addresses[i], openHours[i], closedHours[i], days[i], months[i], map);
      }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\\\'t support geolocation.');
      }

      function geocodeAddress(geocoder, name, address, oHour, cHour, day, month, resultsMap) {
      var timeout = 600;
      geocoder.geocode({'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
      var infowindow = new google.maps.InfoWindow({
      content: name + "<br> " + address + "<br> Open from: " +
      oHour + " - " + cHour + "<br> Days Open: " +
      day + "<br> Months Open: " + month
      });
      var marker = new google.maps.Marker({
      map: resultsMap,
      title: address,
      position: results[0].geometry.location
      });
      marker.addListener('click', function() {
      infowindow.open(resultsMap, marker);
      });

      } else {
      if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
      setTimeout(function() {geocodeAddress(geocoder,name,address,oHour, cHour, day, month,resultsMap)}, (timeout * 3));
      }
      else alert('Geocode was not successful for the following reason: ' + status);
      }
      });
      }

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB9TqoY84nCZOotDUCSLNRBuhGr-aiBfSM&signed_in=true&callback=initMap', async='', defer='')
