extends layout

block content
    h1.
        Market List (Reorganized)
    //login button
    div.fb-login-button(data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true")
    ul(id='accordion', class='ui-accordion')
        each market, i in marketOrganized
            h2(class='ui-accordion-header').
                #{market.name}
            div(class='ui-accordion-content')
                li
                    p Address: #{market.address}
                    p Opens At: #{market.openHour}
                    p Closed At: #{market.closeHour}
                    p Days Open: #{market.day}
                    p Months Open: #{market.month}
    script.
        //facebook
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '437339859788634',
                xfbml      : true,
                version    : 'v2.5'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        $("#accordion").accordion()